/* 768 481-  */

@media screen and (max-width: 711px) {
  header {
    padding: 6px 38px;
  }

  .burger {
    display: block;
  }
  .header_ul {
    display: none;
  }
  .sectione_one {
    padding: 156px 38px;
  }
  .section_one_h {
    font-size: 32px;
    line-height: 40px;
  }

  .section_one_p{
    display: none;
  }

  .section_one_p2 {
    display: block;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #d9d9d9;
    margin: auto;
  }
}
